<!--
  ~ This file Copyright (c) 2016. Walle.
  ~ (http://www.wallellen.com). All rights reserved.
  ~
  ~
  ~ This file is dual-licensed under both the
  ~ Walle Agreement (WA) and the GNU General Public License.
  ~ You may elect to use one or the other of these licenses.
  ~
  ~ This file is distributed in the hope that it will be
  ~ useful, but AS-IS and WITHOUT ANY WARRANTY; without even the
  ~ implied warranty of MERCHANTABILITY or FITNESS FOR A
  ~ PARTICULAR PURPOSE, TITLE, or NONINFRINGEMENT.
  ~ Redistribution, except as permitted by whichever of the GPL
  ~ or WA you select, is prohibited.
  ~
  ~ 1. For the GPL license (GPL), you can redistribute and/or
  ~ modify this file under the terms of the GNU General
  ~ Public License, Version 3, as published by the Free Software
  ~ Foundation.  You should have received a copy of the GNU
  ~ General Public License, Version 3 along with this program;
  ~ if not, write to the Free Software Foundation, Inc., 51
  ~ Franklin St, Fifth Floor, Boston, MA 02110-1301 USA.
  ~
  ~ 2. For the Walle Agreement (WA), this file
  ~ and the accompanying materials are made available under the
  ~ terms of the WA which accompanies this distribution, and
  ~ is available at http://www.wallellen.com/agreement.html
  ~
  ~
  ~ DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER
  -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Weixin-java-tool-suite" verbose="1">
    <test name="API_Test">
        <classes>
            <class name="com.wallellen.wechat.mp.api.WxMpBusyRetryTest"/>
            <class name="com.wallellen.wechat.mp.api.WxMpBaseAPITest"/>
            <class name="com.wallellen.wechat.mp.api.WxMpCustomMessageAPITest"/>
            <class name="com.wallellen.wechat.mp.api.WxMpMenuAPITest"/>
            <class name="com.wallellen.wechat.mp.api.WxMpGroupAPITest"/>
            <class name="com.wallellen.wechat.mp.api.WxMpMassMessageAPITest"/>
            <class name="com.wallellen.wechat.mp.api.WxMpMediaAPITest"/>
            <class name="com.wallellen.wechat.mp.api.WxMpUserAPITest"/>
            <class name="com.wallellen.wechat.mp.api.WxMpQrCodeAPITest"/>
            <class name="com.wallellen.wechat.mp.api.WxMpShortUrlAPITest"/>
            <class name="com.wallellen.wechat.mp.api.WxMpMessageRouterTest"/>
            <class name="com.wallellen.wechat.mp.api.WxMpJsAPITest"/>
            <class name="com.wallellen.wechat.mp.api.WxMpMiscAPITest"/>
        </classes>
    </test>

    <test name="Bean_Test">
        <classes>
            <class name="com.wallellen.wechat.mp.bean.WxMpCustomMessageTest"/>
            <class name="com.wallellen.wechat.mp.bean.WxMpXmlMessageTest"/>
            <class name="com.wallellen.wechat.mp.bean.WxMpXmlOutImageMessageTest"/>
            <class name="com.wallellen.wechat.mp.bean.WxXmlOutMusicMessageTest"/>
            <class name="com.wallellen.wechat.mp.bean.WxXmlOutNewsMessageTest"/>
            <class name="com.wallellen.wechat.mp.bean.WxXmlOutVideoMessageTest"/>
            <class name="com.wallellen.wechat.mp.bean.WxXmlOutVoiceMessageTest"/>
            <class name="com.wallellen.wechat.mp.bean.WxXmlOutTextMessageTest"/>
        </classes>
    </test>
</suite>
